@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--color-dark);
}

.cajaprin{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.caja1 h1{
    color: var(--color-naranja);
    font-size: 35px;
    font-weight: normal;
}

.caja2 a{
    color: var(--color-blanco);
    text-decoration: none;
}

.caja1{
    width: 24%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    gap: 20px;
    font-family: sans-serif;
    font-size: 15px;
}

.caja2 {
    width: 25%;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-weight: bold;
    justify-content: space-evenly;
    gap: 38px;
    font-size: 23px;
    margin-right: -200px;
    margin-left: 550px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

.caja2 a:hover{
    color: var(--color-naranja);
}

.item:hover{
    text-decoration: none;
    transition: 1.2s ;
    cursor: pointer;
    color: var(--color-naranja);
    }


.fondo{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: space-around;
}


.prin{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 630px;
    align-items: center;
    justify-content: space-evenly;
}

.contenido{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 80%;
}

.caja4{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cajax{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact{
    display: flex;
    width: 700px;
    height: 230px;
    /* justify-content: center; Centra horizontalmente */
    /* align-items: center; Centra verticalmente */
    /* border: 1px solid red; */
}

.contact h1{
    margin-left: 80px;
    margin-top: 110px;
    color: var(--color-naranja);
    font-size: 100px;
    font-family: sans-serif;
    font-weight: normal;

}

.text{
    display: flex;
    width: 700px;
    height: 130px;
}

.text h1{
    margin-left: 80px;
    margin-top: 15px;
    color: var(--color-blanco);
    font-weight: normal;
}

.caja5 {
    display: flex;
    height: 600px; 
    width: 100%;
}

.casita{
    display: flex;
    width: 480px;
    height: 600px;
    margin-right: 90px;
}

.caja5 .casita img {
    width: 450px; 
    height: 500px; 
    margin-top: 30px;
}

.cajax{
    height: 600px;
    margin-top: 20px;
}

.boton{
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 25px;
    background-color: var(--color-naranja);
    margin-left: 80px;
    margin-top: 10px;
}

.boton a{
    color: var(--color-blanco);
    text-decoration: none;
}

.boton:hover{
    background: var(--color-negro);
}

/* ________________________________________________________ */
.cam{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 730px;
    align-items: center;
    justify-content: space-evenly;
}

.caro{
    display: flex;
}

.caja6{
    display: flex;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 50px;

}

.caja6 .caro img {
    width: 300px; 
    height: 400px; 
}

.caro{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 80%;
}

.about{
    display: flex;
    width: 500px;
    height: 200px;
    margin-left: 120px;
    align-items: center;
}

.about h1{
    color: var(--color-naranja);
    font-weight: normal;
    font-size: 25px;
}

.speak{
    display: flex;
    width: 600px;
    height: 150px;
    margin-left: 120px;
    margin-top: -60px;
}

.speak h1{
    color: var(--color-blanco);
    font-size: 60px;
    font-weight: normal;
}

.texti{
    display: flex;
    width: 600px;
    height: 140px;
    margin-left: 120px;
    margin-top: 15px;
}

.texti h1{
    font-weight: normal;
    color: var(--color-blanco);
    font-size: 30px;
}

.boti{
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 25px;
    background-color: var(--color-naranja);
    margin-left: 120px;
}

.boti a{
    color: var(--color-blanco);
    text-decoration: none;
}

.boti:hover{
    background: var(--color-negro);
}

/* ________________________________________________________ */

.menu{ 
    width: 100%; 
    display: flex; 
    height: 100vh; 
    flex-direction: column; 
} 

 
.foood{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}    
 
.foood p{ 
    display: flex; 
    color: var(--color-naranja); 
    font-size: 30px; 
    margin-top: 50px; 
} 
 
.foood h1{ 
    display: flex; 
    color: var(--color-blanco); 
    font-size: 60px; 
    width: 100%; 
    justify-content: center; 
    font-weight: normal; 
    margin-top: 20px; 
} 
 
.foodcita{ 
    width: 100%;
    height: 500px;
    display: flex; 
    margin-top: 12px; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
} 
 
.foodbox1{ 
    width: 350px;
    height: 380px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 30px; 
    background: var(--color-beige); 
    transition: all 0.3s ease; 
} 

.foodbox1:hover{ 
    transform: scale(1.1); 
}

.foodbox1 img{ 
    display: flex; 
    width: 250px; 
    height: 250px; 
} 
 
.foodbox1 h1{ 
    font-size: 30px; 
    color: var(--color-negro); 
    margin-top: 1px; 
} 
 
.foodbox1 p{ 
    margin-top: 5px; 
    font-size: 30px; 
    color: var(--color-negro); 
} 
 
.foodbox1 a{ 
    margin-top: 10px;
    font-size: 28px; 
    color: var(--color-naranja); 
} 
 
.foodbox2{
    width: 350px;
    height: 380px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 30px; 
    background: var(--color-beige);
    transition: all 0.3s ease;  
} 

.foodbox2:hover{ 
    transform: scale(1.1); 
}
 
.foodbox2 img{ 
    display: flex; 
    width: 250px; 
    height: 250px;  
} 
 
.foodbox2 h1{ 
    font-size: 30px; 
    color: var(--color-negro); 
    margin-top: 1px; 
} 
 
.foodbox2 p{ 
    margin-top: 5px; 
    font-size: 30px; 
    color: var(--color-negro); 
} 
 
.foodbox2 a{ 
    margin-top: 10px;
    font-size: 30px; 
    color: var(--color-naranja); 
} 
 
.foodbox3{ 
    width: 350px;
    height: 380px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 30px; 
    background: var(--color-beige);
    transition: all 0.3s ease;  
} 

.foodbox3:hover{ 
    transform: scale(1.1); 
}

.foodbox3 img{ 
    display: flex; 
    width: 250px; 
    height: 250px;  
} 
 
.foodbox3 h1{ 
    font-size: 30px; 
    color: var(--color-negro); 
    margin-top: 1px; 
} 
 
.foodbox3 p{ 
    margin-top: 5px; 
    font-size: 30px; 
    color: var(--color-negro); 
} 
 
.foodbox3 a{ 
    margin-top: 10px;
    font-size: 30px; 
    color: var(--color-naranja); 
}


/* ________________________________________________________ */

.service{ 
    width: 100%; 
    display: flex; 
    height: 100vh; 
    flex-direction: column; 
} 

 
.servi{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}    
 
.servi p{ 
    display: flex; 
    color: var(--color-naranja); 
    font-size: 35px; 
    margin-top: 40px; 
} 
 
.servi h1{ 
    display: flex; 
    color: var(--color-blanco); 
    font-size: 60px; 
    width: 100%; 
    justify-content: center; 
    font-weight: normal; 
    margin-top: 20px; 
} 
 
.servicios{ 
    width: 100%;
    height: 500px;
    display: flex; 
    margin-top: 15px; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
} 
 
.servibox1{ 
    width: 350px;
    height: 380px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 30px; 
    transition: all 0.3s ease; 
} 

.servibox1:hover{ 
    transform: scale(1.1); 
}

.servibox1 img{ 
    display: flex; 
    width: 200px; 
    height: 200px; 
} 
 
.servibox1 h1{ 
    font-size: 30px; 
    color: var(--color-naranja); 
    margin-top: 1px; 
} 
 
.servibox1 p{ 
    margin-top: 25px; 
    font-size: 22px;
    text-align: center; 
    color: var(--color-blanco); 
} 
 
 
.servibox2{
    width: 350px;
    height: 380px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 30px; 
    transition: all 0.3s ease;  
} 

.servibox2:hover{ 
    transform: scale(1.1); 
}
 
.servibox2 img{ 
    display: flex; 
    width: 200px; 
    height: 200px;  
} 
 
.servibox2 h1{ 
    font-size: 30px; 
    color: var(--color-naranja); 
    margin-top: 1px; 
} 
 
.servibox2 p{ 
    margin-top: 25px; 
    font-size: 22px;
    text-align: center; 
    color: var(--color-blanco); 
} 
 
 
.servibox3{ 
    width: 350px;
    height: 380px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 30px; 
    transition: all 0.3s ease;  
} 

.servibox3:hover{ 
    transform: scale(1.1); 
}

.servibox3 img{ 
    display: flex; 
    width: 200px; 
    height: 200px;  
} 
 
.servibox3 h1{ 
    font-size: 30px; 
    color: var(--color-naranja); 
    margin-top: 1px; 
} 
 
.servibox3 p{ 
    margin-top: 25px; 
    font-size: 22px;
    text-align: center; 
    color: var(--color-blanco);  
} 
 

/* ________________________________________________________ */

.every{ 
    width: 100%; 
    display: flex; 
    height: 100vh; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
} 
 
.day{ 
    display: flex; 
    flex-direction: column; 
    background: var(--color-beige); 
    width: 85%; 
    height: 55%; 
    justify-content: center; 
    align-items: center; 
} 
 
.day h1{ 
    font-weight: normal; 
    font-size: 60px; 
    margin-top: 10px;
} 
 
.day button{ 
    margin-top: 50px; 
    font-weight: normal; 
    font-size: 20px; 
    background: var(--color-naranja); 
    color: var(--color-blanco); 
    border: none; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 7px; 
    padding-bottom: 7px; 
} 
 
.day button:hover{ 
    background: var(--color-negro); 
    transition: 0.3s; 
    cursor: pointer; 
}

/* ________________________________________________________ */

.final{ 
    width: 100%; 
    display: flex;  
    height: 40vh; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 70px; 
} 
 
.contactbox1{ 
    display: flex; 
    flex-direction: column; 
    height: 35vh; 
} 
 
.contactbox1 h1{ 
    color: var(--color-blanco); 
    font-weight: normal;  
} 
 
.contactbox1 h2{ 
    color: var(--color-naranja); 
    margin-top: -20px; 
    margin-bottom: 20px; 
} 
 
.contactbox1 p{ 
    color: var(--color-blanco); 
    font-size: 20px; 
    margin-top: 5px; 
} 
 
.contactbox1 p:hover{ 
    color: var(--color-beige); 
    cursor: pointer; 
} 
 
.contactbox2{ 
    display: flex; 
    flex-direction: column; 
    height: 35vh; 
} 
 
.contactbox2 h1{ 
    color: var(--color-blanco); 
    font-weight: normal;  
} 
 
.contactbox2 h2{ 
    color: var(--color-naranja); 
    margin-top: -20px; 
    margin-bottom: 20px; 
} 
 
.contactbox2 p{ 
    color: var(--color-blanco); 
    font-size: 20px; 
    margin-top: 5px; 
} 
 
.contactbox2 p:hover{ 
    color: var(--color-beige); 
    cursor: pointer; 
} 
 
.contactbox3{ 
    display: flex; 
    flex-direction: column; 
    height: 35vh; 
} 
 
.contactbox3 h1{ 
    color: var(--color-blanco); 
    font-weight: normal;  
} 
 
.contactbox3 h2{ 
    color: var(--color-naranja); 
    margin-top: -20px; 
    margin-bottom: 20px; 
} 
 
.contactbox3 p{ 
    color: var(--color-blanco); 
    font-size: 20px; 
    margin-top: 5px; 
} 
 
.contactbox3 p:hover{ 
    color: var(--color-beige); 
    cursor: pointer; 
} 
.contactbox4{ 
    display: flex; 
    flex-direction: column; 
    height: 35vh; 
} 
 
.contactbox4 h1{ 
    color: var(--color-blanco); 
    font-weight: normal;  
} 
 
.contactbox4 h2{ 
    color: var(--color-naranja); 
    margin-top: -20px; 
    margin-bottom: 20px; 
} 
 
.contactimg img{ 
    width: 35px; 
    height: 35px; 
    transition: all 0.3s ease;
    border-radius: 50%;
    background: var(--color-naranja);
    margin-right: 10px; 
} 
 
.contactimg img:hover{ 
    transform: scale(0.5); 
    cursor: pointer; 
}

/* ________________________________________________________ */

@media (width < 1200px){
    .cajaprin {
        width: 100%; 
        display: flex;
        flex-direction: column;
    }

    .container {
        flex-direction: row;
        width: 100%; 
    }

    .caja1{
        width: 100%; 
        margin-left: -100px;
    }

    .caja2 a{
        display: flex;
        text-decoration: none;
    }

    .caja2{ 
        display: none; 
        margin-left: 0px;
        justify-content: flex-end; 
        font-size: 20px; 
        align-items: center; 
        color: var(--color-secundary); 
        gap: 30px; 
        height: 100px; 
        font-size: 20px; 
        text-decoration: none; 
        list-style: none; 
    } 
 
    .toggle{ 
        width: 35px; 
        height: 35px; 
        margin-right: 30px;
        display: block; 
        cursor: pointer; 
        background: url(../storage/img/menu.svg); 
        background-size: 35px; 
        background-position: center; 
        background-repeat: no-repeat; 
        z-index: 11; 
    } 
     
    .toggle.active{ 
        position: fixed; 
        right: 20px; 
        background: url(../storage/img/close.svg); 
        background-size: 35px; 
        background-position: center; 
        background-repeat: no-repeat; 
    } 
     
    .caja2 { 
      display:none; 
    } 
     
    .caja2.active 
    { 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: auto; 
        display: flex; 
        padding-top: 2svh; 
        padding-bottom: 2svh; 
        row-gap: 1.5em; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
        font-size: 1.2em; 
        background: var(--color-morado); 
        z-index: 10; 
    } 

    .prin {
        display: flex;
        flex-direction: column; 
        max-width: 100%;
        height: 100%; 
        align-items: center;
        justify-content: center;
    }

    .contenido {
        display: flex;
        flex-direction: column; 
        height: auto;
        width: 100%; 
    }

    .caja4,
    .cajax {
        display: flex;
        flex-direction: column;
    }

    .contact {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%;
        height: auto; 
        margin-top: 30px;
    }

    .contact h1 {
        margin-left: 0; 
        margin-top: -20px; 
        font-size: 55px; 
        text-align: center; 
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 100%; 
        height: auto; 
    }

    .text h1 {
        margin-left: 0;
        margin-top: 0; 
        font-size: 22px; 
        text-align: center; 
        color: var(--color-blanco);
    }

    .caja5 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .casita {
        display: flex;
        width: 100%; 
        height: auto; 
        margin-right: 0; 
    }

    .caja5 .casita img {
        width: 77%; 
        height: 40%; 
        margin-top: 35px;
        margin-left:12%;
    }

    .cajax {
        height: auto; 
        margin-top: 20px;
    }

    .boton {
        width: 25%; 
        margin-top: 20px;
        margin-left:38%;
        height: 30px;
    }

    .boton a {
        color: var(--color-blanco); 
        font-size: 13px;
        text-decoration: none;
    }
    
    .caja7{
        display: flex;
        flex-direction: colum;
        margin-top: -820px;
    }


    .about {
        width: 95%; 
        flex-direction: column; 
        margin: 3px;
        height: auto; 
        padding: 20px; 
        margin-top: 150px;
    }

    .about h1 {
        font-size: 20px;
        margin-bottom: -5px;
    }

    .speak {
        width: 90%; 
        flex-direction: column;
        height: auto; 
        margin: 20px;
        padding: 10px; 
        text-align: center; 
    }

    .speak h1 {
        margin-top: -20px;
        font-size: 37px; 
        margin-bottom: 10px; 
    }

    .texti, .boti {
        flex-direction: column; 
        width: 100%; 
        margin: 15px auto; 
        padding: 10px; 
        text-align: center;
        margin-top: -10px;
    }

    .texti h1 {
        font-size: 18px; 
    }

    .boti {
        width: 25%; 
        margin-top: -50px;
        margin-left:38%;
        height: 30px;
    }

    .boti a {
        color: var(--color-blanco); 
        font-size: 13px;
        text-decoration: none;
    }

    .cam,
    .caro {
        display: flex;
        flex-direction: column;
        width: 100%; 
        height: 800px;
    }

    .caja6 {
        display: flex;
        flex-direction: column;
        width: 80%; 
        height: 42%;
    }

    
    .caja6{
        margin-top: 400px;
        margin-left: 10%;
    }
    
    .caro .caja6 img {
        width: 110%; 
        height: 90%; 
        margin-top: 25px;
        margin-left: -30px;
    }

    .caro{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .menu{
        display: flex;
        height: 1400px;
        align-items: center;
        flex-direction: column;
    }


    .food{
        display: flex;
        flex-direction: column;
        width: 80%; 
    }

    .foood p {
        font-size: 20px; 
    }
    
    .foood h1 {
        text-align: center;
        font-size: 280%; 
    }

    .foodcita{
        display: flex;
        flex-direction: column;
        margin-top: 320px;
    }

    .foodbox1, .foodbox2, .foodbox3 {
        width: 80%; 
        padding: 20px;
    }

    .foodbox1 img, .foodbox2 img, .foodbox3 img {
        width: 200px; 
        height: 200px;
    }

    .foodbox1 h1, .foodbox2 h1, .foodbox3 h1 {
        font-size: 25px; 
    }

    .foodbox1 p, .foodbox2 p, .foodbox3 p {
        font-size: 20px; 
    }

    .foodbox1 a, .foodbox2 a, .foodbox3 a {
        font-size: 20px; 
    }
    

    .service{
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .servi{
        display: flex;
        flex-direction: column;
        width: 80%; 
    }

    .servi p {
        font-size: 30px; 
    }
    
    .servi h1 {
        text-align: center;
        font-size: 250%; 
    }

    .servicios{
        display: flex;
        flex-direction: column;
        margin-top: 380px;
    }

    .every{
        display: flex;
        flex-direction: column;
        height: 400px;
        margin-top: -100px;
    }
    
    .day{
        width: 80%;
        height: 200px;
    }
    .day h1 {
        font-size: 25px;
    }
    
    .day button {
        font-size: 16px; 
        margin-top: 30px; 
    }

    .final {
        flex-direction: column; 
        gap: 30px; 
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 70px;
    }
    
    .contactbox1,
    .contactbox2,
    .contactbox3,
    .contactbox4 {
        height: 10000px; 
    }
    
    .contactimg img {
        margin-right: 0; 
        margin-bottom: 10px; 
    }

}