:root{ 
    --color-primary: #5379a4;  
    --color-azul: #e2e8f3;
    --color-dark: #000;  
    --color-opacity: #a6bddc; 
    --color-light: #fff; 
    --color-borde: #7398c4;
    --color-hover: #25456c;
}