<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="shortcut icon" href="../storage/img/comercio.png" type="image/png">
    <link rel="stylesheet" href="../css/coats.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="prin">
                <div class="foto">
                    <img src="../storage/img/astronauta.png">
                </div>

                <div class="admin">
                    <h1> CampusShop </h1>
                </div>
            </div>
            
            <a href="../index.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/ropa.png">
                    </div>
            
                    <div class="board">
                        <h1> Todos los productos </h1>
                    </div>
                </div>
            </a>

            <a href="#"class="url">
                <div class="todo">
                    <div class="fot">
                        <img src="../storage/img/abrigo.png">
                    </div>
            
                    <div class="board">
                        <h1>Abrigos</h1>
                    </div>
                </div>
            </a>

            <a href="../views/camisetas.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/camisa.png">
                    </div>
            
                    <div class="board">
                        <h1> Camisetas </h1>
                    </div>
                </div>
            </a>

            <a href="../views/pantalones.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/pantalon.png">
                    </div>
            
                    <div class="board">
                        <h1> Pantalones </h1>
                    </div>
                </div>
            </a>

            <a href="../views/carritos.html"class="car">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/carrito.png">
                    </div>
            
                    <div class="carr">
                        <h1> Carritos </h1>

                        <div class="ico">
                            <h1> 3</h1>
                        </div>
                    </div>
                </div>
            </a>

            <div class="copy">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/copy.png">
                    </div>

                    <div class="camper">
                        <h1> 2024 ﾠCamper </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="derecha">
            <div class="vis">
                <div class="letras">
                    <h1>Todos los productos</h1>
                </div>


                <div class="gallery"> 
                    <div class="arriba">
                        <div class="imagene"> 
                            <img src="../storage/img/imagen1.jpg" alt=""> 
                            <div class="textico"> 
                                <p>Abrigo 01</p> 
                                <div class="boton"> 
                                    <p>$80.0000</p> 
                                    <button>Agregar</button> 
                                </div> 
                            </div> 
                        </div>
                        
                        <div class="imagenes"> 
                            <img src="../storage/img/imagen2.webp" alt=""> 
                            <div class="textico"> 
                                <p>Abrigo 02</p> 
                                <div class="boton"> 
                                    <p>$100.0000</p> 
                                    <button>Agregar</button> 
                                </div> 
                            </div> 
                        </div>

                        <div class="imagenes"> 
                            <img src="../storage/img/imagen3.webp" alt=""> 
                            <div class="textico"> 
                                <p>Abrigo 03</p> 
                                <div class="boton"> 
                                    <p>$1.0000</p> 
                                    <button>Agregar</button> 
                                </div> 
                            </div> 
                        </div>

                        <div class="imagenes"> 
                            <img src="../storage/img/imagen4.webp" alt=""> 
                            <div class="textico"> 
                                <p>Abrigo 04</p> 
                                <div class="boton"> 
                                    <p>$75.0000</p> 
                                    <button>Agregar</button> 
                                </div> 
                            </div> 
                        </div>
                        
                    </div>
                    
                    <div class="abajo">
                        <div class="imagene"> 
                            <img src="../storage/img/imagen5.webp" alt=""> 
                            <div class="textico"> 
                                <p>Abrigo 05</p> 
                                <div class="boton"> 
                                    <p>$125.0000</p> 
                                    <button>Agregar</button> 
                                </div> 
                            </div> 
                        </div>
                        
                    </div>

                </div>  
                
            </div>        
        </div>

    </div>        

</body>
</html>