<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="shortcut icon" href="../storage/img/comercio.png" type="image/png">
    <link rel="stylesheet" href="../css/car.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="prin">
                <div class="foto">
                    <img src="../storage/img/astronauta.png">
                </div>

                <div class="admin">
                    <h1> CampusShop </h1>
                </div>
            </div>
            
            <a href="../index.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/ropa.png">
                    </div>
            
                    <div class="board">
                        <h1> Todos los productos </h1>
                    </div>
                </div>
            </a>

            <a href="../views/abrigos.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/abrigo.png">
                    </div>
            
                    <div class="board">
                        <h1>Abrigos</h1>
                    </div>
                </div>
            </a>

            <a href="../views/camisetas.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/camisa.png">
                    </div>
            
                    <div class="board">
                        <h1> Camisetas </h1>
                    </div>
                </div>
            </a>

            <a href="../views/pantalones.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/pantalon.png">
                    </div>
            
                    <div class="board">
                        <h1> Pantalones </h1>
                    </div>
                </div>
            </a>

            <a href="#"class="car">
                <div class="todo">
                    <div class="fot">
                        <img src="../storage/img/carrito.png">
                    </div>
            
                    <div class="carr">
                        <h1> Carritos </h1>

                        <div class="ico">
                            <h1> 3</h1>
                        </div>
                    </div>
                </div>
            </a>

            <div class="copy">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/copy.png">
                    </div>

                    <div class="camper">
                        <h1> 2024 ﾠCamper </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="derecha">
            <div class="vis">
                <div class="image"> 
                    <div class="letras">
                        <h1>Carrito</h1>
                    </div>
                            <div class="arriba1"> 
                                <div class="main1"> 
                                    <img src="../storage/img/imagen1.jpg" alt=""> 
                                    <div class="main1name"> 
                                        <p>Nombre</p> 
                                        <p class="texxt">Abrigo 01</p> 
                                    </div> 
                                    <div class="maininput"> 
                                        <p>Cantidad</p> 
                                        <div class="can">
                                            <h1>3</h1>
                                        </div>
                                    </div> 
                                    <div class="prec1io"> 
                                        <p>Precio</p> 
                                        <p class="p__text">$80.0000</p> 
                                    </div> 
                                    <div class="subtotal"> 
                                        <p>Subtotal</p> 
                                        <p class="texxt">$ 240.000</p> 
                                    </div> 
                                    <a href="#" class="menos">
                                        <img src="../storage/img/bolsa.png" alt="">
                                    </a>
                                </div> 
                            </div> 
                            <div class="siguiente1"> 
                                <div class="main1"> 
                                    <img src="../storage/img/imagen7.jpg" alt=""> 
                                    <div class="main1name"> 
                                        <p>Nombre</p> 
                                        <p class="texxt">Camisetas 02</p> 
                                    </div> 
                                    <div class="maininput"> 
                                        <p>Cantidad</p> 
                                        <div class="can">
                                            <h1>4</h1>
                                        </div>
                                    </div> 
                                    <div class="prec1io"> 
                                        <p>Precio</p> 
                                        <p class="texxt">$ 30.000</p> 
                                    </div> 
                                    <div class="subtotal"> 
                                        <p>Subtotal</p> 
                                        <p class="texxto">$ 120.000</p> 
                                    </div> 
                                    <a href="#" class="menos">
                                        <img src="../storage/img/bolsa.png" alt="">
                                    </a>
                                </div> 
                            </div> 
                            <div class="siguiente2"> 
                                <div class="main1"> 
                                    <img src="../storage/img/imagen14.webp" alt=""> 
                                    <div class="main1name"> 
                                        <p>Nombre</p> 
                                        <p class="texxt" >Pantalones 04</p> 
                                    </div> 
                                    <div class="maininput"> 
                                        <p>Cantidad</p> 
                                        <div class="can">
                                            <h1>2</h1>
                                        </div>
                                    </div> 
                                    <div class="prec1io"> 
                                        <p>Precio</p> 
                                        <p class="p__text">$ 150.000</p> 
                                    </div> 
                                    <div class="subtotal"> 
                                        <p>Subtotal</p> 
                                        <p class="texxt">$ 300.000</p> 
                                    </div> 
                                    <a href="#" class="menos">
                                        <img src="../storage/img/bolsa.png" alt="">
                                    </a>
                                </div> 
                            </div> 
                            <section class="carritosbotis"> 
                                <div class="carritos">
                                    <a href="../views/carvacio.html" class="botoncito">Vaciar Carrito</a> 
                            <div class="carrito"> 
                                <div> 
                                    <p>Total</p> 
                                    <p>$ 570.000</p> 
                                </div> 
                                <button>Comprar ahora</button> 
                            </div> 
                        </div> 
                    </section> 
                </div> 
            </section> 
        </section>
                
            </div>        
        </div>

    </div>        
</body>
</html>