<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="shortcut icon" href="../storage/img/comercio.png" type="image/png">
    <link rel="stylesheet" href="../css/vacio.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="prin">
                <div class="foto">
                    <img src="../storage/img/astronauta.png">
                </div>

                <div class="admin">
                    <h1> CampusShop </h1>
                </div>
            </div>
            
            <a href="../index.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/ropa.png">
                    </div>
            
                    <div class="board">
                        <h1> Todos los productos </h1>
                    </div>
                </div>
            </a>

            <a href="../views/abrigos.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/abrigo.png">
                    </div>
            
                    <div class="board">
                        <h1>Abrigos</h1>
                    </div>
                </div>
            </a>

            <a href="../views/camisetas.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/camisa.png">
                    </div>
            
                    <div class="board">
                        <h1> Camisetas </h1>
                    </div>
                </div>
            </a>

            <a href="../views/pantalones.html"class="url">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/pantalon.png">
                    </div>
            
                    <div class="board">
                        <h1> Pantalones </h1>
                    </div>
                </div>
            </a>

            <a href="#"class="car">
                <div class="todo">
                    <div class="fot">
                        <img src="../storage/img/carrito.png">
                    </div>
            
                    <div class="carr">
                        <h1> Carritos </h1>

                        <div class="ico">
                            <h1> 0</h1>
                        </div>
                    </div>
                </div>
            </a>

            <div class="copy">
                <div class="dash">
                    <div class="fot">
                        <img src="../storage/img/copy.png">
                    </div>

                    <div class="camper">
                        <h1> 2024 ﾠCamper </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="derecha">
            <div class="vis">
                <div class="letras">
                    <h1>Carrito</h1>
                </div>
                
                <div class="carcito">
                    <div class="triste">
                        <img src="../storage/img/sad.png">
                    </div>

                    <div class="nada">
                        <h1>Querido usuario lo sentimos tu carrito esta vacio.</h1>
                    </div>
                </div>
                
                
            </div>        
        </div>

    </div>        
</body>
</html>